{"filter":false,"title":"media-files.config","tooltip":"/.platform/nginx/conf.d/media-files.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1783769639696,"hash":"c86cc460c7c2ab2d623adf99aae3a97819c23f8d"}