{"filter":false,"title":"requirements.txt","tooltip":"/lambda_code/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":14},"action":"insert","lines":["# requirements.txt","reportlab>=4.0.0","boto3>=1.26.0","Pillow>=10.0.0"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":14},"end":{"row":3,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":276,"mode":"ace/mode/text"}},"timestamp":1783688636497,"hash":"f406ff6b6eee298cfa54b5ef1cfd839e635ece88"}